@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: hidden;

	cursor: default;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: hsl(0, 0%, 100%);
}
a.button, #dataDisplay a {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em 0.4em 0.5em;
	margin: 0px;

	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
	color: hsla(0, 0%, 100%, 0.75);
	box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);
	border-radius: 4px;
}
	a.button:active, #dataDisplay a:active {
		box-shadow: inset 0px 2px 5px hsla(0, 0%, 0%, 0.2);
	}
	#dataDisplay a.labled {
		padding: 0.25em 0.5em 1.4em 0.5em;
	}
		#dataDisplay a.labled div {
			position: absolute;
			bottom: 0px; left: 0px; right: 0px;
			padding: 0.15em;

			font-size: 75%;
			font-style: italic;
			text-align: center;
			color: hsla(0, 0%, 100%, 0.5);
			background: hsla(0, 0%, 0%, 0.15);
			border-radius: 0px 0px 4px 4px;
		}
#dataDisplayCanvas {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 0;
}
#dataDisplay {
	position: absolute;
	top: 44px;
	z-index: 1;
}
	#dataDisplay a {
		position: absolute;
		margin: 0px;
	}
	#dataDisplay .material {
		position: absolute;
		top: 15px; left: 15px; right: 15px;
		padding: 5px 15px 15px 15px;

		background: hsla(0, 0%, 90%, 1);
		box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);
		border-radius: 4px;
	}	
		#dataDisplay .material a {
			display: inline-block;
			position: static;
			float: none;
			margin: 10px 5px 0px 0px;
		}		
		#dataDisplay .vote {
			position: absolute;
			width: 50px; height: 50px;

			font-size: 35px;
			text-align: center;
			text-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);
		}
		#dataDisplay .up {color: hsl(90, 65%, 45%);}
		#dataDisplay .down {color: hsl(10, 65%, 50%);}
.greeting {
	position: absolute;
	z-index: 5;
	padding: 0.25em 0.5em 0.4em 0.5em;
	
	cursor: default;
	font-size: 16px;
	font-style: italic;
	opacity: 0.85;
	color: hsl(0, 0%, 0%);
	background: hsl(0, 0%, 100%);
	box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.5);
	border-radius: 1em;
}
#navigation {
	position: absolute;
	top: 0px; left: 0px; right: 0px;
	min-width: 800px;
	overflow: visible;
	height: 44px;
	z-index: 2;

	background: hsla(0, 0%, 100%, 1);
	box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);
}
	#navigation span {
		float: right;
		padding: 9px 15px;
		height: 26px;

		color: hsla(0, 0%, 0%, 0.85);
		font-style: italic;
		font-size: 18px;
		font-weight: lighter;
	}
	#navigation a {
		float: left;
		padding: 9px 15px;
		height: 26px;

		text-decoration: none;
		font-size: 18px;
		color: hsla(0, 0%, 100%, 0.65);
		background: hsl(0, 0%, 20%);
	}
		#navigation a:hover {background: hsl(0, 0%, 18%);}
		#navigation a:active {
			background: hsl(0, 0%, 16%);
		}		
		#navigation a.active {
			background: hsl(210, 65%, 50%);
			box-shadow: inset 0px 2px 5px hsla(0, 0%, 0%, 0.2);
		}
.section {
	z-index: 2;
	position: absolute;
	top: 59px; left: 15px;
	padding: 5px 15px 15px 15px;
	width: 280px;

	background: hsla(0, 0%, 100%, 1);
	box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);
	border-radius: 4px;
}
	.section h1, #dataDisplay .material h1 {
		margin: 10px 0px 0px 0px;
		padding: 0px;

		font-size: 24px;
		font-weight: bold;
		color: hsla(0, 0%, 0%, 0.75);
	}		
	.section h2, #dataDisplay .material h2 {
		margin: 7px 0px 0px 0px;
		padding: 0px;

		font-size: 22px;
		font-weight: bold;
		color: hsla(0, 0%, 0%, 0.75);
	}	
	.section p, #dataDisplay .material p {
		margin: 0px 0px 7px 0px;
		padding: 0px;
		color: hsl(0, 0%, 15%);
	}		
		.section p.lighten, #dataDisplay .material p.lighten {
			opacity: 0.5;
			font-size: 14px;
			font-style: italic;
			color: hsla(0, 0%, 0%, 1);
		}	
	.section input, .section select {
		margin: 2px 0px 2px 0px;
		padding: 7px;
		width: 60px;
		
		background: hsla(0, 0%, 0%, 0.1);
		color: hsla(0, 0%, 0%, 0.75);
		border: none;
		font-size: 14px;
		font-weight: bold;
		border-radius: 4px;
	}	
		.section input:focus, .section select:focus {
			background: hsla(210, 65%, 50%, 0.1);
			color: hsl(210, 65%, 50%);
		}
		.section input.large {
			margin: 10px 0px 10px 0px;
			padding: 15px;
			width: 250px;

			font-size: 20px;
		}
	.section select {width: auto;}
	.section .info, #dataDisplay .material .info {
		color: hsl(210, 65%, 50%);
		font-weight: bold;
	}	
	.section .error {
		color: hsl(10, 65%, 50%);
		font-weight: bold;
		margin-bottom: 15px;
	}

#algorithmOutput {
	margin: 10px 0px 15px 0px;
	padding: 10px;

	color: hsl(0, 0%, 25%);
	background: hsla(0, 0%, 0%, 0.1) url(../images/stripes.png);
	box-shadow: inset 0px 2px 5px hsla(0, 0%, 0%, 0.2);
}
	#algorithmOutput div {text-align: right;}
		#algorithmOutput div span {
			margin-top: 10px;
			display: inline-block;
			padding: 0.25em 0.5em 0.4em 0.5em;

			color: hsla(210, 65%, 50%, 0.75);
			font-size: 18px;
			font-style: italic;
		}
	#algorithmOutput p {margin-top: 5px; color: hsla(0, 0%, 0%, 0.60);}
	#algorithmOutput h2 {margin-top: 0px; color: hsla(0, 0%, 0%, 0.65);}
	#algorithmOutput a {margin-top: 10px;}
	
