.floating {
	margin:	 50px;
	float: left;
	width: 1800px;
	overflow: hidden;
}

.panel-heading {
	text-align:center;s
	border: none;
}

.main {
	margin-left: 150px;
}
.well-row {
	overflow: none;
	width: 1680px;
	height: 512px;

}

.h3 {
	float:right;
}
.showResult {
		margin-left: 300px;
}
.well {
	height: 310px;
    width: 260px;
    margin: 30px 30px;
    float: left;
    padding: 5px;
   	border-width: 5px;
	border-radius: 9px;
	font-size: 18px;
	text-align:center;
}
.well *{
	padding-top: 30%;
}

.card-row{
	width: 1800px;
	height: 256px;	
}

.card {
	height: 300px;
    width: 250px;
    margin: 35px 35px;
    float: left;
    padding: 5px;
   	border-width: 5px;
	border-radius: 9px;
	font-size: 18px;
	text-align:center;
}

.card i{
	padding-top: 30%;
}

.card .description {
	padding: 5px;
	font-size: 12px;
}

.bloo {
	background-color: blue;
}

.dotted {
	border-style:dashed;
}

.checkmark {
	margin-top: 90px;
			color: green;
		font-size: 60px;
}
